<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.configFileSecondKindMapper" >
  <resultMap id="BaseResultMap" type="com.yc.bean.configFileSecondKind" >
    <id column="fsk_id" property="fskId" jdbcType="SMALLINT" />
    <result column="first_kind_id" property="firstKindId" jdbcType="CHAR" />
    <result column="first_kind_name" property="firstKindName" jdbcType="VARCHAR" />
    <result column="second_kind_id" property="secondKindId" jdbcType="CHAR" />
    <result column="second_kind_name" property="secondKindName" jdbcType="VARCHAR" />
    <result column="second_salary_id" property="secondSalaryId" jdbcType="VARCHAR" />
    <result column="second_sale_id" property="secondSaleId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fsk_id, first_kind_id, first_kind_name, second_kind_id, second_kind_name, second_salary_id, 
    second_sale_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from config_file_second_kind
    where fsk_id = #{fskId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from config_file_second_kind
    where fsk_id = #{fskId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.yc.bean.configFileSecondKind" >
    insert into config_file_second_kind (fsk_id, first_kind_id, first_kind_name, 
      second_kind_id, second_kind_name, second_salary_id, 
      second_sale_id)
    values (#{fskId,jdbcType=SMALLINT}, #{firstKindId,jdbcType=CHAR}, #{firstKindName,jdbcType=VARCHAR}, 
      #{secondKindId,jdbcType=CHAR}, #{secondKindName,jdbcType=VARCHAR}, #{secondSalaryId,jdbcType=VARCHAR}, 
      #{secondSaleId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.bean.configFileSecondKind" >
    insert into config_file_second_kind
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fskId != null" >
        fsk_id,
      </if>
      <if test="firstKindId != null" >
        first_kind_id,
      </if>
      <if test="firstKindName != null" >
        first_kind_name,
      </if>
      <if test="secondKindId != null" >
        second_kind_id,
      </if>
      <if test="secondKindName != null" >
        second_kind_name,
      </if>
      <if test="secondSalaryId != null" >
        second_salary_id,
      </if>
      <if test="secondSaleId != null" >
        second_sale_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fskId != null" >
        #{fskId,jdbcType=SMALLINT},
      </if>
      <if test="firstKindId != null" >
        #{firstKindId,jdbcType=CHAR},
      </if>
      <if test="firstKindName != null" >
        #{firstKindName,jdbcType=VARCHAR},
      </if>
      <if test="secondKindId != null" >
        #{secondKindId,jdbcType=CHAR},
      </if>
      <if test="secondKindName != null" >
        #{secondKindName,jdbcType=VARCHAR},
      </if>
      <if test="secondSalaryId != null" >
        #{secondSalaryId,jdbcType=VARCHAR},
      </if>
      <if test="secondSaleId != null" >
        #{secondSaleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.configFileSecondKind" >
    update config_file_second_kind
    <set >
      <if test="firstKindId != null" >
        first_kind_id = #{firstKindId,jdbcType=CHAR},
      </if>
      <if test="firstKindName != null" >
        first_kind_name = #{firstKindName,jdbcType=VARCHAR},
      </if>
      <if test="secondKindId != null" >
        second_kind_id = #{secondKindId,jdbcType=CHAR},
      </if>
      <if test="secondKindName != null" >
        second_kind_name = #{secondKindName,jdbcType=VARCHAR},
      </if>
      <if test="secondSalaryId != null" >
        second_salary_id = #{secondSalaryId,jdbcType=VARCHAR},
      </if>
      <if test="secondSaleId != null" >
        second_sale_id = #{secondSaleId,jdbcType=VARCHAR},
      </if>
    </set>
    where fsk_id = #{fskId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.configFileSecondKind" >
    update config_file_second_kind
    set first_kind_id = #{firstKindId,jdbcType=CHAR},
      first_kind_name = #{firstKindName,jdbcType=VARCHAR},
      second_kind_id = #{secondKindId,jdbcType=CHAR},
      second_kind_name = #{secondKindName,jdbcType=VARCHAR},
      second_salary_id = #{secondSalaryId,jdbcType=VARCHAR},
      second_sale_id = #{secondSaleId,jdbcType=VARCHAR}
    where fsk_id = #{fskId,jdbcType=SMALLINT}
  </update>
</mapper>