<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ConfigPublicCharMapper" >
  <resultMap id="BaseResultMap" type="com.yc.bean.ConfigPublicChar" >
    <id column="pbc_id" property="pbcId" jdbcType="SMALLINT" />
    <result column="attribute_kind" property="attributeKind" jdbcType="VARCHAR" />
    <result column="attribute_name" property="attributeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pbc_id, attribute_kind, attribute_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from config_public_char
    where pbc_id = #{pbcId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from config_public_char
    where pbc_id = #{pbcId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.yc.bean.ConfigPublicChar" >
    insert into config_public_char ( attribute_kind, attribute_name
      )
    values ( #{attributeKind,jdbcType=VARCHAR}, #{attributeName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yc.bean.ConfigPublicChar" >
    insert into config_public_char
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pbcId != null" >
        pbc_id,
      </if>
      <if test="attributeKind != null" >
        attribute_kind,
      </if>
      <if test="attributeName != null" >
        attribute_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pbcId != null" >
        #{pbcId,jdbcType=SMALLINT},
      </if>
      <if test="attributeKind != null" >
        #{attributeKind,jdbcType=VARCHAR},
      </if>
      <if test="attributeName != null" >
        #{attributeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.ConfigPublicChar" >
    update config_public_char
    <set >
      <if test="attributeKind != null" >
        attribute_kind = #{attributeKind,jdbcType=VARCHAR},
      </if>
      <if test="attributeName != null" >
        attribute_name = #{attributeName,jdbcType=VARCHAR},
      </if>
    </set>
    where pbc_id = #{pbcId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.ConfigPublicChar" >
    update config_public_char
    set attribute_kind = #{attributeKind,jdbcType=VARCHAR},
      attribute_name = #{attributeName,jdbcType=VARCHAR}
    where pbc_id = #{pbcId,jdbcType=SMALLINT}
  </update>
</mapper>